@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url("font-awesome.min.css");


a{
	text-decoration: none;
}

header img{
	width: 150px;
}
nav{
	background: #00adb5;
	box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
	line-height: 3em;
}

nav.header {
	height: 4em;
	line-height: 3em;
	float: left;
	width: 100%;

	font-family: Satisfy;
	border-radius: 15px;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	margin-bottom: 40px;
}

nav.header div.izquierda{
	float:left;
	margin-left: 20px;
	padding-left: 10px;
}

nav.header div.izquierda h1, {
	margin-bottom: 20px;
}

nav.header div.derecha{
	float:right;
	margin-right:  20px;
	padding-right:  10px;
}
nav.header ul li {
	display: inline-block;
	margin-left: 0.5em;
	font-size: 0.9em;
}

nav.header div h1{
	font-size: 40px;
	margin: 12px;
	color: #ece8d9;
	}

nav.header div h1 a{
	color: #ece8d9;
}
nav.header div ul li a{
	color: #ece8d9;
	font-size: 25px;
}
nav.header div ul li a:hover{
	color: #f8b500;
	font-size: 30px;
}

nav.header div h1 a:hover{
	color: #f8b500;
	font-size: 50px;

}

header.header div.izquierda{
	float:left;
}
header.header div.derecha{
	float:right;
	margin-top: 18px;
	margin-right: 20px;
}

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}
#lab_social_icon_footer a {
  color: #393e46;
}

div.container section{
	padding-top: 110px;
}

div.container h2{
	font-family: Satisfy;
	text-align: center;
	padding-bottom: 20px;
	font-size: 40px;
}

h3{
	font-family: serif;
	padding-bottom: 10px;
	font-size: 29px;
}

div.container p{
	text-align: justify;
}

img[id^="foto"]{
	padding-bottom: 20px;
	padding-left: 30em;
}
